body {
display: flex;
  height:100vh;
  margin:0;
  flex-direction: column;
  background:linear-gradient(45deg, lightpink,lightyellow,pink);
}
h1 {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.Container {
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:white;
  padding:5px;
  border-radius:1px
}
input[type="text"] {
  border: 2px solid white;
}
input[type="password"] {
  border: 2px solid white;
}
input[type="submit"] {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


